{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add New Role{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add New Role</h1>
</div>

<div class="card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.report_to|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.authorities|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save Role</button>
            <a href="{% url 'accounts:role_management' %}" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
